<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haijunwei.native_kit">

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.native_kit_file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/native_kit_file_provider_path" />
        </provider>
    </application>

</manifest>
